div.sub-menu-area {
    /*background-color: #b3d9b5;*/

    margin-top: 35px;

    background-image: linear-gradient(#b3d9b5, #a2c4a4);
    border: 2px;
    height: 50px;

    padding: 0 0 0 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}